# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/

# --- SQLAlchemy / Databases ---
# Игнорируем локальные файлы БД (SQLite), если они лежат в корне
*.db
*.sqlite
*.sqlite3

# --- Исследовательская работа (Jupyter) ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*
# .ipynb

# --- IDE (PyCharm / VS Code) ---
.idea/
.vscode/
*.swp

# --- Логи и отчеты ---
*.log
htmlcov/
.coverage
.pytest_cache/
# --- Obsidian
# Игнорируем всё внутри этой папки, но саму папку оставляем открытой для исключений
Obsidian_SQLAlchemy_Training/.obsidian/*

# Разрешаем конкретные подпапки (путь должен начинаться так же!)
!Obsidian_SQLAlchemy_Training/.obsidian/plugins/
!Obsidian_SQLAlchemy_Training/.obsidian/themes/
!Obsidian_SQLAlchemy_Training/.obsidian/snippets/

# Игнорируем шумные файлы
Obsidian_SQLAlchemy_Training/.obsidian/workspace.json
Obsidian_SQLAlchemy_Training/.obsidian/workspace-mobile.json
Obsidian_SQLAlchemy_Training/.obsidian/cache/

# Ежедневные заметки
Obsidian_SQLAlchemy_Training/Daily_Notes/